html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------------------------------------------------------------
												Header
----------------------------------------------------------------------------------------------------*/


#header {
	margin-top: 1em;
}

#header img {
	margin: -8em 0% 0% 83%;
	position: absolute;
	height: 80px;
}

#header h1 {
	margin-left: 10%;
	text-transform: uppercase;
	line-height: 3em;
}

	
/*----------------------------------------------------------------------------------------------------
											Search parameter Section
---------------------------------------------------------------------------------------------------*/


#interactive {
	margin: 2em auto;
	width: 60%;
}

#interactive .navbar .navbar-nav {
	float:right;
}

#select-activities {
	margin: 2em 15% 1.5em;
}

 #type-location {
 	margin: 2em 10% 1.5em;
 }

#select-activities h3, label {
	font-size: 1.5em;
	margin-bottom: 1em;
	font-weight: 400;
}

#select-activities .btn-toolbar .btn-group {
	margin-left: 0.5em;
	margin-bottom: 1em;
}

#type-location {
	display: none;
}

#location, #selected-activity, #submit-search {
	margin-bottom: 1em;
}

#location {
	text-transform: capitalize;
}


#event-list li {
	display: inline-block;
}

.secret {
	display: none;
}

.panel-heading li {
	display: inline;
}


#app-info #contact li {
	display: inline;
}

#app-info #contact ul {
	margin-bottom: 0px;
	text-align: center;
}

#app-info .close {
	float: right;
}

.close:hover {
	cursor: pointer;
}

.panel {
	position: absolute;
	width: 70%;
	margin-left: 15%;
	margin-top: 4%;
	z-index: 50;
}

/*-------------------------------------------------------------------------------------------------
											Results
--------------------------------------------------------------------------------------------------*/

#map {
	margin:0 auto;
	background: url('http://programacion.net/files/googlemaps.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	width: 520px;
}

#results {
	display: none;
}

#backToTop {
	position: fixed;
	right: 5%;
	bottom: 10%;
	z-index: 10;
	border-radius: 50%;
	height: 56px;
	width: 56px;
	padding: 0.5em;
	background-color: #e7e7e7;
	font-size: 2em;

}

#list-result {
	margin-top: 2em;
}

#active-events, #meetup-groups {
	margin-bottom: 2em;
}

#active-events {
	border-right: 0;
}

#meetup-groups {
	border-left: 0;
}


#search-result dd,img {
	margin-bottom: 2em;
}




