html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------------------------------------------------------------
												Header
----------------------------------------------------------------------------------------------------*/
#header {
	width: 100%;
}
.navbar {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	z-index: 50;
}

#location {
	text-transform: capitalize;
}

.navbar .navbar-nav {
	float:right;
}


#search-item {
	padding-left: 20%;
}

.secret {
	display: none;
}

.panel-heading li {
	display: inline;
}


#app-info #contact #panel-contact li {
	display: inline;
	margin: 0 1em;
	font-size: 3em;
	text-align: center;
}

#app-info #what p {
	text-align: center;
	margin-top: 1em;
}


#app-info #contact ul {
	margin-bottom: 0px;
	text-align: center;
}

#contact .panel-heading {
	text-align: left !important;
}

#app-info .close {
	float: right;
}

.close:hover {
	cursor: pointer;
}

.panel {
	position: absolute;
	width: 70%;
	margin-left: 15%;
	margin-top: 4%;
	z-index: 50;
}

	
/*-------------------------------------------------------------------------------------------------
											Results
--------------------------------------------------------------------------------------------------*/

#map {
	margin:0 auto;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0
}

#search-result {
	display: none;
	position: absolute;
	z-index: 10;
	width: 50%;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
	padding: 2em;
	top: 20%;
	left: 10%
}

#location-info .panel-heading {
	margin-top: -1em;
}

#location-info .col-md-9 {
	padding-left: 4em;
}

#list-result {
	margin-top: 2em;
}

#search-result dd,img {
	margin-bottom: 2em;
}




